In [1]:
import pandas as pd

In [6]:
data={
    "Name":["Yuvraj Singh","Prashant Kumar","Rohit Sharma","Amit Thakur","Akshay Rana","Himanshu Choudhry","Abhishek Pundir","Udit Narayan"],
    "Score":[99,77,48,73,59,82,47,66],
    "Passed":[True,False,False,True,False,True,True,True],
    "Category":["a","d","d","a","d","c","b","a"]
}
df=pd.DataFrame(data)
print("Orignal Dataset : ")
print(df)
print("-"*60)

Orignal Dataset :
                Name  Score  Passed Category
0       Yuvraj Singh     99    True        a
1     Prashant Kumar     77   False        d
2       Rohit Sharma     48   False        d
3        Amit Thakur     73    True        a
4        Akshay Rana     59   False        d
5  Himanshu Choudhry     82    True        c
6    Abhishek Pundir     47    True        b
7       Udit Narayan     66    True        a
--------------------------------------------------

In [7]:
print("The names of the students , Attempted the examination : ")
print()
print(df["Name"])

The names of the students , Attempted the examination :

0         Yuvraj Singh
1       Prashant Kumar
2         Rohit Sharma
3          Amit Thakur
4          Akshay Rana
5    Himanshu Choudhry
6      Abhishek Pundir
7         Udit Narayan
Name: Name, dtype: object

In [8]:
print("-"*60)
print("A Small summary of dataset : ")
print()
print(df[["Name","Passed","Category"]])

------------------------------------------------------------
A Small summary of dataset :

                Name  Passed Category
0       Yuvraj Singh    True        a
1     Prashant Kumar   False        d
2       Rohit Sharma   False        d
3        Amit Thakur    True        a
4        Akshay Rana   False        d
5  Himanshu Choudhry    True        c
6    Abhishek Pundir    True        b
7       Udit Narayan    True        a

In [10]:
print("-"*60)
print("First Three column of the dataset : ")
print(df.iloc[0:3])

------------------------------------------------------------
First Three column of the dataset :
             Name  Score  Passed Category
0    Yuvraj Singh     99    True        a
1  Prashant Kumar     77   False        d
2    Rohit Sharma     48   False        d

In [30]:
print("-"*60)
df.index=[1001,1002,1003,1004,1005,1006,1007,1008]
print("Printing name of the student by  id of student :-")
print(df.loc[1004,"Name"])
print("Printing the First three rows of Datasetv with updated index : " )
print(df.loc[1001:1005])

------------------------------------------------------------
Printing name of the student by  id of student :-
Amit Thakur
Printing the First three rows of Datasetv with updated index :
                Name  Score  Passed Category
1001    Yuvraj Singh     99    True        a
1002  Prashant Kumar     77   False        d
1003    Rohit Sharma     48   False        d
1004     Amit Thakur     73    True        a
1005     Akshay Rana     59   False        d