In [1]:
import pandas as pd

In [ ]:
data={
    "Name":["Yuvraj Singh","Prashant Kumar","Rohit Sharma","Amit Thakur","Akshay Rana","Himanshu Choudhry","Abhishek Pundir","Udit Narayan"],
    "Score":[99,77,48,73,59,82,47,66],
    "Passed":[True,False,False,True,False,True,True,True],
    "Category":["a","d","d","a","d","c","b","a"]
}
df=pd.DataFrame(data)
print("Orignal Dataset : ")
print(df)
print("-"*60)

Orignal Dataset :
                Name  Score  Passed Category
0       Yuvraj Singh     99    True        a
1     Prashant Kumar     77   False        d
2       Rohit Sharma     48   False        d
3        Amit Thakur     73    True        a
4        Akshay Rana     59   False        d
5  Himanshu Choudhry     82    True        c
6    Abhishek Pundir     47    True        b
7       Udit Narayan     66    True        a
--------------------------------------------------

In [7]:
print("The names of the students , Attempted the examination : ")
print()
print(df["Name"])

The names of the students , Attempted the examination :

0         Yuvraj Singh
1       Prashant Kumar
2         Rohit Sharma
3          Amit Thakur
4          Akshay Rana
5    Himanshu Choudhry
6      Abhishek Pundir
7         Udit Narayan
Name: Name, dtype: object

In [8]:
print("-"*60)
print("A Small summary of dataset : ")
print()
print(df[["Name","Passed","Category"]])

------------------------------------------------------------
A Small summary of dataset :

                Name  Passed Category
0       Yuvraj Singh    True        a
1     Prashant Kumar   False        d
2       Rohit Sharma   False        d
3        Amit Thakur    True        a
4        Akshay Rana   False        d
5  Himanshu Choudhry    True        c
6    Abhishek Pundir    True        b
7       Udit Narayan    True        a