In [32]:
import pandas as pd

In [33]:
data={
    "Name":["Yuvraj Singh","Prashant Kumar","Rohit Sharma","Amit Thakur","Akshay Rana","Himanshu Choudhry","Abhishek Pundir","Udit Narayan"],
    "Score":[99,87,48,73,89,82,47,66],
    "Passed":[True,False,False,True,False,True,True,True],
    "Category":["a","d","d","a","d","c","b","a"]
}
df=pd.DataFrame(data)
print("Orignal Dataset : ")
print(df)
print("-"*60)

Orignal Dataset :
                Name  Score  Passed Category
0       Yuvraj Singh     99    True        a
1     Prashant Kumar     87   False        d
2       Rohit Sharma     48   False        d
3        Amit Thakur     73    True        a
4        Akshay Rana     89   False        d
5  Himanshu Choudhry     82    True        c
6    Abhishek Pundir     47    True        b
7       Udit Narayan     66    True        a
------------------------------------------------------------

In [34]:
print("The names of the students , Attempted the examination : ")
print()
print(df["Name"])

The names of the students , Attempted the examination :

0         Yuvraj Singh
1       Prashant Kumar
2         Rohit Sharma
3          Amit Thakur
4          Akshay Rana
5    Himanshu Choudhry
6      Abhishek Pundir
7         Udit Narayan
Name: Name, dtype: object

In [35]:
print("-"*60)
print("A Small summary of dataset : ")
print()
print(df[["Name","Passed","Category"]])

------------------------------------------------------------
A Small summary of dataset :

                Name  Passed Category
0       Yuvraj Singh    True        a
1     Prashant Kumar   False        d
2       Rohit Sharma   False        d
3        Amit Thakur    True        a
4        Akshay Rana   False        d
5  Himanshu Choudhry    True        c
6    Abhishek Pundir    True        b
7       Udit Narayan    True        a

In [36]:
print("-"*60)
print("First Three column of the dataset : ")
print(df.iloc[0:3])

------------------------------------------------------------
First Three column of the dataset :
             Name  Score  Passed Category
0    Yuvraj Singh     99    True        a
1  Prashant Kumar     87   False        d
2    Rohit Sharma     48   False        d

In [ ]:
print("-"*60)
df.index=[1001,1002,1003,1004,1005,1006,1007,1008]
print("Printing name of the student by  id of student :-")
print(df.loc[1004,"Name"])
print("Printing the First three rows of Datasetv with updated index : " )
print(df.loc[1001:1003])

------------------------------------------------------------
Printing name of the student by  id of student :-
Amit Thakur
Printing the First three rows of Datasetv with updated index :
                Name  Score  Passed Category
1001    Yuvraj Singh     99    True        a
1002  Prashant Kumar     87   False        d
1003    Rohit Sharma     48   False        d
1004     Amit Thakur     73    True        a
1005     Akshay Rana     89   False        d

In [41]:
print("-"*60)
print("Students with Score greater then 85 :-")
print(df[df["Score"]>85])
print("Students with Score greater then 85 and Passed as result :-")
print(df[(df["Score"]>85)&(df["Passed"] == True)])

------------------------------------------------------------
Students with Score greater then 85 :-
                Name  Score  Passed Category
1001    Yuvraj Singh     99    True        a
1002  Prashant Kumar     87   False        d
1005     Akshay Rana     89   False        d
Students with Score greater then 85 and Passed as result :-
              Name  Score  Passed Category
1001  Yuvraj Singh     99    True        a

In [46]:
print("-"*60)
print("Soritng the filtered Dataset : ")
df2=df[df["Score"]>85]
print(df2.sort_values("Score",ascending=False))

------------------------------------------------------------
Soritng the filtered Dataset :
                Name  Score  Passed Category
1001    Yuvraj Singh     99    True        a
1005     Akshay Rana     89   False        d
1002  Prashant Kumar     87   False        d

In [47]:
print("-"*60)
print("Result of chaining of soritng and filtering operation : ")
df3=df[df["Score"]>80].sort_values("Score",ascending=True)
print(df3)

------------------------------------------------------------
Result of chaining of soritng and filtering operation :
                   Name  Score  Passed Category
1006  Himanshu Choudhry     82    True        c
1002     Prashant Kumar     87   False        d
1005        Akshay Rana     89   False        d
1001       Yuvraj Singh     99    True        a