In [5]:
# creating a Dataframe 
Student={
    "ID":[1,2,3,4,5,6],
    "Name":["Yuvraj Singh","Arpanjeet Singh","Ramesh Choudhry","Rama Krishna","Rohit saini","Mohit Pundir"],
    "Course":["Software Engineering","Electrical Engineering","Mechanical Engineering","BioTech Management","Chemical Engineering","Aerotech Engineering"],
    "City":["Delhi","Chandigarh","Amritsar","Mumbai","Channai","Bangluru"],
    "Age":[18,19,25,22,20,18]
    
}

In [6]:
import pandas as pd

In [8]:
df=pd.DataFrame(Student)
df.to_csv("Student.csv")

In [13]:
print(f"First five columns of the dataframe : ")
print(f"{df.head()}")
print(f"The last five columns of the dataframe : ")
print(f" {df.tail()}")
print(f"Structural Information about the DataFrame : ")
print(f"{df.info()}")
print(f"Statistical Summary of DataFrame : ")
print(f" {df.describe()}")

First five columns of the dataframe :
   ID             Name                  Course        City  Age
0   1     Yuvraj Singh    Software Engineering       Delhi   18
1   2  Arpanjeet Singh  Electrical Engineering  Chandigarh   19
2   3  Ramesh Choudhry  Mechanical Engineering    Amritsar   25
3   4     Rama Krishna      BioTech Management      Mumbai   22
4   5      Rohit saini    Chemical Engineering     Channai   20
The last five columns of the dataframe :
    ID             Name                  Course        City  Age
1   2  Arpanjeet Singh  Electrical Engineering  Chandigarh   19
2   3  Ramesh Choudhry  Mechanical Engineering    Amritsar   25
3   4     Rama Krishna      BioTech Management      Mumbai   22
4   5      Rohit saini    Chemical Engineering     Channai   20
5   6     Mohit Pundir    Aerotech Engineering    Bangluru   18
Structural Information about the DataFrame :
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 6 entries, 0 to 5
Data columns (total 5 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   ID      6 non-null      int64
 1   Name    6 non-null      object
 2   Course  6 non-null      object
 3   City    6 non-null      object
 4   Age     6 non-null      int64
dtypes: int64(2), object(3)
memory usage: 372.0+ bytes
None
Statistical Summary of DataFrame :
              ID        Age
count  6.000000   6.000000
mean   3.500000  20.333333
std    1.870829   2.732520
min    1.000000  18.000000
25%    2.250000  18.250000
50%    3.500000  19.500000
75%    4.750000  21.500000
max    6.000000  25.000000