# Pandas 
## Phase 2 : 
1. Adding columns :

In [1]:
import pandas as pd

In [ ]:
data={
    "Names":["Ram","sham","ghansham","simran","Aditi","Raj","Simran"],
    "Age":[28,94,48,56,34,54,76],
    "Salary":[50000,30000,60000,70000,110000,660000,90000],
    "Performance":[85,90,78,92,88,95,89]
}

df=pd.DataFrame(data)
print(df)
#adding new column anywhere
df["Bonus"]=df["Salary"]*0.1
print("======New data frame======")
print(df)
# inserting a new column to the data frame at a precide location
df.insert(0,"Employee id",[1,2,3,4,5,6,7])
print("After inserting column on the precise location ")
print(df)

      Names  Age  Salary  Performance
0       Ram   28   50000           85
1      sham   94   30000           90
2  ghansham   48   60000           78
3    simran   56   70000           92
4     Aditi   34  110000           88
5       Raj   54  660000           95
6    Simran   76   90000           89
======New data frame======
      Names  Age  Salary  Performance    Bonus
0       Ram   28   50000           85   5000.0
1      sham   94   30000           90   3000.0
2  ghansham   48   60000           78   6000.0
3    simran   56   70000           92   7000.0
4     Aditi   34  110000           88  11000.0
5       Raj   54  660000           95  66000.0
6    Simran   76   90000           89   9000.0
After inserting column on the precise location
   Employee id     Names  Age  Salary  Performance    Bonus
0            1       Ram   28   50000           85   5000.0
1            2      sham   94   30000           90   3000.0
2            3  ghansham   48   60000           78   6000.0
3            4    simran   56   70000           92   7000.0
4            5     Aditi   34  110000           88  11000.0
5            6       Raj   54  660000           95  66000.0
6            7    Simran   76   90000           89   9000.0