# Pandas
## Phase : 1
### Primary data structure : 
1. Series : 1D data , one dimensional homogenious array . It is size immutable
2. DataFrame : 2D Data , can have n no of hetrogenious array . It is size mutable

In [ ]:
import pandas as pd

* Pandas are used to do data manipulation , and data analysis
* Handles millions of rows efficeintly
* Easy to use .
* works with libraries like matplotlib , skykit etc .
### Real Life examples :
1. Analysing the time series data like stock prices to identify market trends .
2. Traking inventory and finding the most sold products in the store .
* The basic intension should be to do data manipulation and then data analysis .

In [ ]:
 # read data form csv file into a dataframe
df=pd.read_csv("machine.csv",encoding="latin1")
print(df)

In [ ]:
import pandas as pd
# ceratign a dataframe and svaing it to a file 
data={
    "Name":['ram','sham','ghansham'],
    "Age":[10,20,30],
    "City":["Nagpur","mumbai","Rohtak"]

}

df=pd.DataFrame(data)
print(df)
df.to_csv("output.csv",index="False")
df.to_excel("output1.xlsx",index="True")
df.to_json("Output2.json",index="True")

1. understand the data set
2. identify the problems
3. plan next steps

> the way to read some rows , it can be done by head() and tail() method 
* head(n) will give first n rows of the data  , fi n is not given then it will return the first 5 rows of the data frame
* tail(n)  will return the last rows of the data frame , if n is not given then it will return the last 5 rows of the data frame

In [ ]:
df=pd.read_csv("machine.csv")
print("Display forst 10 rows :",df.head(10))
print("displeay last 10 rows :",df.tail(10))

### info() :
This will will provide us the :
1. no of rows and no of columns
2. column name
3. data type : int64,float64,object
4. non null counts
5. memory usage of the data frame

In [ ]:
df=pd.read_csv("machine.csv",encoding="latin1")
print("Displaying  the info of the dataframe : ",df.info())
df.to_excel("output1.xlsx")#also saved the machine.csv data to the excel file

In [ ]:
data={
    "Names":["Ram","sham","ghansham","simran","Aditi","Raj","Simran"],
    "Age":[28,94,48,56,34,54,76],
    "Salary":[50000,30000,60000,70000,110000,660000,90000],
    "Performance":[85,90,78,92,88,95,89]
}
df=pd.DataFrame(data)
print("The data is :")
print(df)
print("Describe the data : ")
print(df.describe())

Before manipulating or analysing any dataset , we must know these two things :
1. how many rows and columns are there 
2. what are the names of the columns

In [10]:
print("The shape of the dataset is :",df.shape)
print("The name of the columns : ",df.columns)

The shape of the dataset is : (7, 4)
The name of the columns :  Index(['Names', 'Age', 'Salary', 'Performance'], dtype='object')

### data manipulation :
1. select specific column
2. filter rows
3. combine multiple conditions
firts way to filter the column , as we can get any column by just name 
col=df["column name"]
for get a specific row
row=df[df["Salary"]>50000]

#combine multiple condition
row=df[(df["column"]>value)& df["column2]>value]

In [22]:
row=df[df["Salary"]>80000]
print(row)
# selecting single column
column=df["Names"]
print(column)
#selceiting multiple column
subset=df[["Names","Age"]]
print(subset)
#slecting multiple rows
rows=df[(df["Salary"]>8000)&(df["Age"]<50)]
print(rows)

    Names  Age  Salary  Performance
4   Aditi   34  110000           88
5     Raj   54  660000           95
6  Simran   76   90000           89
0         Ram
1        sham
2    ghansham
3      simran
4       Aditi
5         Raj
6      Simran
Name: Names, dtype: object
      Names  Age
0       Ram   28
1      sham   94
2  ghansham   48
3    simran   56
4     Aditi   34
5       Raj   54
6    Simran   76
      Names  Age  Salary  Performance
0       Ram   28   50000           85
2  ghansham   48   60000           78
4     Aditi   34  110000           88