# Pandas 
## Phase 2 : 
> ### Data Manipulation 
1. Adding columns :

In [16]:
import pandas as pd

In [17]:
data={
    "Names":["Ram",None,"ghansham","simran","Aditi","Raj","Simran"],
    "Age":[28,None,48,56,34,54,76],
    "Salary":[50000,None,60000,70000,110000,660000,90000],
    "Performance":[85,None,78,92,88,95,89]
}

df=pd.DataFrame(data)
print(df)
#adding new column anywhere
df["Bonus"]=df["Salary"]*0.1
print("======New data frame======")
print(df)
# inserting a new column to the data frame at a precide location
df.insert(0,"Employee id",[1,2,3,4,5,6,7])
print("After inserting column on the precise location ")
print(df)

      Names   Age    Salary  Performance
0       Ram  28.0   50000.0         85.0
1      None   NaN       NaN          NaN
2  ghansham  48.0   60000.0         78.0
3    simran  56.0   70000.0         92.0
4     Aditi  34.0  110000.0         88.0
5       Raj  54.0  660000.0         95.0
6    Simran  76.0   90000.0         89.0
======New data frame======
      Names   Age    Salary  Performance    Bonus
0       Ram  28.0   50000.0         85.0   5000.0
1      None   NaN       NaN          NaN      NaN
2  ghansham  48.0   60000.0         78.0   6000.0
3    simran  56.0   70000.0         92.0   7000.0
4     Aditi  34.0  110000.0         88.0  11000.0
5       Raj  54.0  660000.0         95.0  66000.0
6    Simran  76.0   90000.0         89.0   9000.0
After inserting column on the precise location
   Employee id     Names   Age    Salary  Performance    Bonus
0            1       Ram  28.0   50000.0         85.0   5000.0
1            2      None   NaN       NaN          NaN      NaN
2            3  ghansham  48.0   60000.0         78.0   6000.0
3            4    simran  56.0   70000.0         92.0   7000.0
4            5     Aditi  34.0  110000.0         88.0  11000.0
5            6       Raj  54.0  660000.0         95.0  66000.0
6            7    Simran  76.0   90000.0         89.0   9000.0

2. modifing any values pfo data set:

In [18]:
df.loc[0,"Salary"]=75000000
print(df)
# increasing salary by 5 percent
df["Salary"]=df["Salary"]*1.05
print("Dataset with new increased salary")
print(df)

   Employee id     Names   Age      Salary  Performance    Bonus
0            1       Ram  28.0  75000000.0         85.0   5000.0
1            2      None   NaN         NaN          NaN      NaN
2            3  ghansham  48.0     60000.0         78.0   6000.0
3            4    simran  56.0     70000.0         92.0   7000.0
4            5     Aditi  34.0    110000.0         88.0  11000.0
5            6       Raj  54.0    660000.0         95.0  66000.0
6            7    Simran  76.0     90000.0         89.0   9000.0
Dataset with new increased salary
   Employee id     Names   Age      Salary  Performance    Bonus
0            1       Ram  28.0  78750000.0         85.0   5000.0
1            2      None   NaN         NaN          NaN      NaN
2            3  ghansham  48.0     63000.0         78.0   6000.0
3            4    simran  56.0     73500.0         92.0   7000.0
4            5     Aditi  34.0    115500.0         88.0  11000.0
5            6       Raj  54.0    693000.0         95.0  66000.0
6            7    Simran  76.0     94500.0         89.0   9000.0

3. Removing Columns : 
df.drop(columns=["ColumnName"],inplace=True)

In [19]:
df.drop(columns=["Salary"],inplace=True)
print(df)

   Employee id     Names   Age  Performance    Bonus
0            1       Ram  28.0         85.0   5000.0
1            2      None   NaN          NaN      NaN
2            3  ghansham  48.0         78.0   6000.0
3            4    simran  56.0         92.0   7000.0
4            5     Aditi  34.0         88.0  11000.0
5            6       Raj  54.0         95.0  66000.0
6            7    Simran  76.0         89.0   9000.0

>### Handeling missing data
1. NaN (Not a Number)
2. None (for object data type)
 
* There is a method isnull() which returns True-is NaN is Missing , False-value is present

In [21]:
print(df.isnull()) # where ever there is true is the none value 
#Method to calculate the total null value
print(df.isnull().sum())

   Employee id  Names    Age  Performance  Bonus
0        False  False  False        False  False
1        False   True   True         True   True
2        False  False  False        False  False
3        False  False  False        False  False
4        False  False  False        False  False
5        False  False  False        False  False
6        False  False  False        False  False
Employee id    0
Names          1
Age            1
Performance    1
Bonus          1
dtype: int64