# Pandas 
## Phase 2 : 
> ### Data Manipulation 
1. Adding columns :

In [7]:
import pandas as pd

In [16]:
data={
    "Names":["Ram",None,"ghansham","simran","Aditi","Raj","Simran"],
    "Age":[28,None,48,56,34,54,76],
    "Salary":[50000,None,60000,70000,110000,660000,90000],
    "Performance":[85,None,78,92,88,95,89]
}

df=pd.DataFrame(data)
print(df)
#adding new column anywhere
df["Bonus"]=df["Salary"]*0.1
print("======New data frame======")
print(df)
# inserting a new column to the data frame at a precide location
df.insert(0,"Employee id",[1,2,3,4,5,6,7])
print("After inserting column on the precise location ")
print(df)

      Names   Age    Salary  Performance
0       Ram  28.0   50000.0         85.0
1      None   NaN       NaN          NaN
2  ghansham  48.0   60000.0         78.0
3    simran  56.0   70000.0         92.0
4     Aditi  34.0  110000.0         88.0
5       Raj  54.0  660000.0         95.0
6    Simran  76.0   90000.0         89.0
======New data frame======
      Names   Age    Salary  Performance    Bonus
0       Ram  28.0   50000.0         85.0   5000.0
1      None   NaN       NaN          NaN      NaN
2  ghansham  48.0   60000.0         78.0   6000.0
3    simran  56.0   70000.0         92.0   7000.0
4     Aditi  34.0  110000.0         88.0  11000.0
5       Raj  54.0  660000.0         95.0  66000.0
6    Simran  76.0   90000.0         89.0   9000.0
After inserting column on the precise location
   Employee id     Names   Age    Salary  Performance    Bonus
0            1       Ram  28.0   50000.0         85.0   5000.0
1            2      None   NaN       NaN          NaN      NaN
2            3  ghansham  48.0   60000.0         78.0   6000.0
3            4    simran  56.0   70000.0         92.0   7000.0
4            5     Aditi  34.0  110000.0         88.0  11000.0
5            6       Raj  54.0  660000.0         95.0  66000.0
6            7    Simran  76.0   90000.0         89.0   9000.0

2. modifing any values pfo data set:

In [17]:
df.loc[0,"Salary"]=75000000
print(df)
# increasing salary by 5 percent
df["Salary"]=df["Salary"]*1.05
print("Dataset with new increased salary")
print(df)

   Employee id     Names   Age      Salary  Performance    Bonus
0            1       Ram  28.0  75000000.0         85.0   5000.0
1            2      None   NaN         NaN          NaN      NaN
2            3  ghansham  48.0     60000.0         78.0   6000.0
3            4    simran  56.0     70000.0         92.0   7000.0
4            5     Aditi  34.0    110000.0         88.0  11000.0
5            6       Raj  54.0    660000.0         95.0  66000.0
6            7    Simran  76.0     90000.0         89.0   9000.0
Dataset with new increased salary
   Employee id     Names   Age      Salary  Performance    Bonus
0            1       Ram  28.0  78750000.0         85.0   5000.0
1            2      None   NaN         NaN          NaN      NaN
2            3  ghansham  48.0     63000.0         78.0   6000.0
3            4    simran  56.0     73500.0         92.0   7000.0
4            5     Aditi  34.0    115500.0         88.0  11000.0
5            6       Raj  54.0    693000.0         95.0  66000.0
6            7    Simran  76.0     94500.0         89.0   9000.0

3. Removing Columns : 
df.drop(columns=["ColumnName"],inplace=True)

In [18]:
df.drop(columns=["Salary"],inplace=True)
print(df)

   Employee id     Names   Age  Performance    Bonus
0            1       Ram  28.0         85.0   5000.0
1            2      None   NaN          NaN      NaN
2            3  ghansham  48.0         78.0   6000.0
3            4    simran  56.0         92.0   7000.0
4            5     Aditi  34.0         88.0  11000.0
5            6       Raj  54.0         95.0  66000.0
6            7    Simran  76.0         89.0   9000.0

>### Handeling missing data
1. NaN (Not a Number)
2. None (for object data type)
 
* There is a method isnull() which returns True-is NaN is Missing , False-value is present

In [19]:
print(df.isnull()) # where ever there is true is the none value 
#Method to calculate the total null value
print(df.isnull().sum())

   Employee id  Names    Age  Performance  Bonus
0        False  False  False        False  False
1        False   True   True         True   True
2        False  False  False        False  False
3        False  False  False        False  False
4        False  False  False        False  False
5        False  False  False        False  False
6        False  False  False        False  False
Employee id    0
Names          1
Age            1
Performance    1
Bonus          1
dtype: int64

Now if we do not need the null value , then we can just delete it or if we do then just change it

In [20]:
#Method for removing the null value 
df.dropna(inplace=True)
print(df)
#Method for filling the null data
df.fillna(0,inplace=True)
print(df)

   Employee id     Names   Age  Performance    Bonus
0            1       Ram  28.0         85.0   5000.0
2            3  ghansham  48.0         78.0   6000.0
3            4    simran  56.0         92.0   7000.0
4            5     Aditi  34.0         88.0  11000.0
5            6       Raj  54.0         95.0  66000.0
6            7    Simran  76.0         89.0   9000.0
   Employee id     Names   Age  Performance    Bonus
0            1       Ram  28.0         85.0   5000.0
2            3  ghansham  48.0         78.0   6000.0
3            4    simran  56.0         92.0   7000.0
4            5     Aditi  34.0         88.0  11000.0
5            6       Raj  54.0         95.0  66000.0
6            7    Simran  76.0         89.0   9000.0

4. interpollution
    1. preserve data integrity
    2. smooth trend
    3. avoid data loss
    *Method to learn : linear  , polinomial,time

In [21]:
data={
    "Names":["Ram",None,"ghansham","simran","Aditi","Raj","Simran"],
    "Age":[28,None,48,56,34,54,76],
    "Salary":[50000,None,60000,70000,110000,660000,90000],
    "Performance":[85,None,78,92,88,95,89]
}

df=pd.DataFrame(data)
df.interpolate(method="linear",axis=0,inplace=True)#axis=0 means row
df["Salary"]=df["Salary"].interpolate(method="linear")
df["Age"]=df["Age"].interpolate(method="linear")
df["Performance"]=df["Performance"].interpolate(method="linear")
df["Names"]=df["Names"].interpolate(method="linear")
print(df)

      Names   Age    Salary  Performance
0       Ram  28.0   50000.0         85.0
1      None  38.0   55000.0         81.5
2  ghansham  48.0   60000.0         78.0
3    simran  56.0   70000.0         92.0
4     Aditi  34.0  110000.0         88.0
5       Raj  54.0  660000.0         95.0
6    Simran  76.0   90000.0         89.0

C:\Users\Lenovo\AppData\Local\Temp\ipykernel_11304\2116119123.py:9: FutureWarning: DataFrame.interpolate with object dtype is deprecated and will raise in a future version. Call obj.infer_objects(copy=False) before interpolating instead.
  df.interpolate(method="linear",axis=0,inplace=True)#axis=0 means row
C:\Users\Lenovo\AppData\Local\Temp\ipykernel_11304\2116119123.py:13: FutureWarning: Series.interpolate with object dtype is deprecated and will raise in a future version. Call obj.infer_objects(copy=False) before interpolating instead.
  df["Names"]=df["Names"].interpolate(method="linear")

5. Sorting and Aggregration 
    1. soritng data in one column sort_values()
    df.sort_values(by="column naame",True/False,inplace=True)# true for ascending order or false fo rdescending order

In [12]:
data={
    "Names":["Ram",None,"ghansham","simran","Aditi","Raj","Simran"],
    "Age":[28,20,48,56,34,54,76],
    "Salary":[50000,900000,60000,70000,110000,660000,90000],
    "Performance":[85,None,78,92,88,95,89]
}
df=pd.DataFrame(data)
df.sort_values(by=["Salary"],ascending=True,inplace=True)
print("Data frame with sorted by salary in ascending order")
print(df)
df.sort_values(by=["Age","Salary"],ascending=False,inplace=True)
print("Data frame sorted in descending order")
print(df)

Data frame with sorted by salary in ascending order
      Names  Age  Salary  Performance
0       Ram   28   50000         85.0
2  ghansham   48   60000         78.0
3    simran   56   70000         92.0
6    Simran   76   90000         89.0
4     Aditi   34  110000         88.0
5       Raj   54  660000         95.0
1      None   20  900000          NaN
Data frame sorted in descending order
      Names  Age  Salary  Performance
6    Simran   76   90000         89.0
3    simran   56   70000         92.0
5       Raj   54  660000         95.0
2  ghansham   48   60000         78.0
4     Aditi   34  110000         88.0
0       Ram   28   50000         85.0
1      None   20  900000          NaN

In [ ]:
# For agression 
avg_salary=df["Salary"].mean()
print(avg_salary)
#sum(), mean() , mode(), median() , min() , max() , count(),std()
data={
    "names":["Arun","Varun","Karun","Narun","Marun"],
    "Age":[32,28,32,90,28],
    "Salary":[5000,6000,45000,52000,48000]
}
# firstgrouping a data by age based on the salary and then doing  the agrregation
df=pd.DataFrame(data)
grouped=df.groupby("Age")["Salary"].sum()
print(grouped)

277142.85714285716
Age
28    54000
32    50000
90    52000
Name: Salary, dtype: int64

6. Merging and Joining : 
* Merging : to combine the rows of more than two data frames
    1. Inner :
    2. Outer:
    3. left :
    4. Right:

In [21]:
# pd.merge(df1,df2,on="Column_Name",how="Type of join")
costumers=pd.DataFrame({
    "CustomerID":[1,2,3],
    "Name":["Ramesh","Suresh","Jagdish"]
    
})

order=pd.DataFrame({
    "CustomerID":[1,2,4],
    "orderAmount":[250,350,400]
})
#inner join, only common value are merged
df_Merge=pd.merge(costumers,order,on="CustomerID",how="inner")
print("Inner Join")
print(df_Merge)
# outer join , all rows will be combined & the missng value will be filled by NaN
df_Merge2=pd.merge(costumers,order,on="CustomerID",how="outer")
print("Outer Join")
print(df_Merge2)
#left merge : will keep all the left values , and if some rigth sided values are missing then it will fill it with NaN
df_Merge=pd.merge(costumers,order,on="CustomerID",how="left")
print("Left Join")
print(df_Merge)
#Right merge =will keep all the right value and missing left values will be filled by NaN
df_Merge=pd.merge(costumers,order,on="CustomerID",how="right")
print("Right Join")
print(df_Merge)

Inner Join
   CustomerID    Name  orderAmount
0           1  Ramesh          250
1           2  Suresh          350
Outer Join
   CustomerID     Name  orderAmount
0           1   Ramesh        250.0
1           2   Suresh        350.0
2           3  Jagdish          NaN
3           4      NaN        400.0
Left Join
   CustomerID     Name  orderAmount
0           1   Ramesh        250.0
1           2   Suresh        350.0
2           3  Jagdish          NaN
Right Join
   CustomerID    Name  orderAmount
0           1  Ramesh          250
1           2  Suresh          350
2           4     NaN          400