# Pandas 
## Phase 2 : 
> ### Data Manipulation 
1. Adding columns :

In [ ]:
import pandas as pd

In [ ]:
data={
    "Names":["Ram",None,"ghansham","simran","Aditi","Raj","Simran"],
    "Age":[28,None,48,56,34,54,76],
    "Salary":[50000,None,60000,70000,110000,660000,90000],
    "Performance":[85,None,78,92,88,95,89]
}

df=pd.DataFrame(data)
print(df)
#adding new column anywhere
df["Bonus"]=df["Salary"]*0.1
print("======New data frame======")
print(df)
# inserting a new column to the data frame at a precide location
df.insert(0,"Employee id",[1,2,3,4,5,6,7])
print("After inserting column on the precise location ")
print(df)

2. modifing any values pfo data set:

In [ ]:
df.loc[0,"Salary"]=75000000
print(df)
# increasing salary by 5 percent
df["Salary"]=df["Salary"]*1.05
print("Dataset with new increased salary")
print(df)

3. Removing Columns : 
df.drop(columns=["ColumnName"],inplace=True)

In [ ]:
df.drop(columns=["Salary"],inplace=True)
print(df)

>### Handeling missing data
1. NaN (Not a Number)
2. None (for object data type)
 
* There is a method isnull() which returns True-is NaN is Missing , False-value is present

In [ ]:
print(df.isnull()) # where ever there is true is the none value 
#Method to calculate the total null value
print(df.isnull().sum())

Now if we do not need the null value , then we can just delete it or if we do then just change it

In [ ]:
#Method for removing the null value 
df.dropna(inplace=True)
print(df)
#Method for filling the null data
df.fillna(0,inplace=True)
print(df)