# Pandas 
## Phase 2 : 
> ### Data Manipulation 
1. Adding columns :

In [ ]:
import pandas as pd

In [ ]:
data={
    "Names":["Ram",None,"ghansham","simran","Aditi","Raj","Simran"],
    "Age":[28,None,48,56,34,54,76],
    "Salary":[50000,None,60000,70000,110000,660000,90000],
    "Performance":[85,None,78,92,88,95,89]
}

df=pd.DataFrame(data)
print(df)
#adding new column anywhere
df["Bonus"]=df["Salary"]*0.1
print("======New data frame======")
print(df)
# inserting a new column to the data frame at a precide location
df.insert(0,"Employee id",[1,2,3,4,5,6,7])
print("After inserting column on the precise location ")
print(df)

2. modifing any values pfo data set:

In [ ]:
df.loc[0,"Salary"]=75000000
print(df)
# increasing salary by 5 percent
df["Salary"]=df["Salary"]*1.05
print("Dataset with new increased salary")
print(df)

3. Removing Columns : 
df.drop(columns=["ColumnName"],inplace=True)

In [ ]:
df.drop(columns=["Salary"],inplace=True)
print(df)

>### Handeling missing data
1. NaN (Not a Number)
2. None (for object data type)
 
* There is a method isnull() which returns True-is NaN is Missing , False-value is present

In [ ]:
print(df.isnull()) # where ever there is true is the none value 
#Method to calculate the total null value
print(df.isnull().sum())

Now if we do not need the null value , then we can just delete it or if we do then just change it

In [ ]:
#Method for removing the null value 
df.dropna(inplace=True)
print(df)
#Method for filling the null data
df.fillna(0,inplace=True)
print(df)

4. interpollution
    1. preserve data integrity
    2. smooth trend
    3. avoid data loss
    *Method to learn : linear  , polinomial,time

In [ ]:
data={
    "Names":["Ram",None,"ghansham","simran","Aditi","Raj","Simran"],
    "Age":[28,None,48,56,34,54,76],
    "Salary":[50000,None,60000,70000,110000,660000,90000],
    "Performance":[85,None,78,92,88,95,89]
}

df=pd.DataFrame(data)
df.interpolate(method="linear",axis=0,inplace=True)#axis=0 means row
df["Salary"]=df["Salary"].interpolate(method="linear")
df["Age"]=df["Age"].interpolate(method="linear")
df["Performance"]=df["Performance"].interpolate(method="linear")
df["Names"]=df["Names"].interpolate(method="linear")
print(df)

5. Sorting and Aggregration 
    1. soritng data in one column sort_values()
    df.sort_values(by="column naame",True/False,inplace=True)# true for ascending order or false fo rdescending order

In [ ]:
data={
    "Names":["Ram",None,"ghansham","simran","Aditi","Raj","Simran"],
    "Age":[28,20,48,56,34,54,76],
    "Salary":[50000,900000,60000,70000,110000,660000,90000],
    "Performance":[85,None,78,92,88,95,89]
}
df=pd.DataFrame(data)
df.sort_values(by=["Salary"],ascending=True,inplace=True)
print("Data frame with sorted by salary in ascending order")
print(df)
df.sort_values(by=["Age","Salary"],ascending=False,inplace=True)
print("Data frame sorted in descending order")
print(df)

In [ ]:
# For agression 
avg_salary=df["Salary"].mean()
print(avg_salary)
#sum(), mean() , mode(), median() , min() , max() , count(),std()
data={
    "names":["Arun","Varun","Karun","Narun","Marun"],
    "Age":[32,28,32,90,28],
    "Salary":[5000,6000,45000,52000,48000]
}
# firstgrouping a data by age based on the salary and then doing  the agrregation
df=pd.DataFrame(data)
grouped=df.groupby("Age")["Salary"].sum()
print(grouped)

6. Merging and Joining : 
* Merging : to combine the rows of more than two data frames
    1. Inner :
    2. Outer:
    3. left :
    4. Right:

In [ ]:
# pd.merge(df1,df2,on="Column_Name",how="Type of join")
costumers=pd.DataFrame({
    "CustomerID":[1,2,3],
    "Name":["Ramesh","Suresh","Jagdish"]
    
})

order=pd.DataFrame({
    "CustomerID":[1,2,4],
    "orderAmount":[250,350,400]
})
#inner join, only common value are merged
df_Merge=pd.merge(costumers,order,on="CustomerID",how="inner")
print("Inner Join")
print(df_Merge)
# outer join , all rows will be combined & the missng value will be filled by NaN
df_Merge2=pd.merge(costumers,order,on="CustomerID",how="outer")
print("Outer Join")
print(df_Merge2)
#left merge : will keep all the left values , and if some rigth sided values are missing then it will fill it with NaN
df_Merge=pd.merge(costumers,order,on="CustomerID",how="left")
print("Left Join")
print(df_Merge)
#Right merge =will keep all the right value and missing left values will be filled by NaN
df_Merge=pd.merge(costumers,order,on="CustomerID",how="right")
print("Right Join")
print(df_Merge)

7. Contcatination : 
    To combine the data frame vertically or horigontly
    1. vertically :
    2. horijontaly:

In [ ]:
df_region1=pd.DataFrame({
    "CumstomerID":[1,2],

    "Name":["Gopal","raju"]

})
df_region2=pd.DataFrame({
    "CumstomerID":[3,4],

    "Name":["Gopal babu ","raju rao"]

})
df_Concat=pd.concat([df_region1,df_region2],axis=0,ignore_index=True)
print(df_Concat)