In [ ]:
import pandas as pd

In [ ]:
df=pd.read_csv("machine.csv")
print(df)
df.to_csv("output.csv")

In [ ]:
Data={
    "Professors":["Dr. Mira","Mr. Shan Faaiz","Dr Sami ur rehman","Dr. Chandra Gupta"],
    "Subjects":["Computer Architechture","Mathematics","Python","Phylosophy and Dharma"],
    "ID":[123,124,125,126],
    "Universities":["Ardon","Madarsa","Punjab University","Kurukshetra University"],
    "Experience":[4,6,7,7]
}
df=pd.DataFrame(Data)
print(df)
print("Printing the information about the dataframe i have just created: ",)
print(df.info())
print("Printing the descrription of the dataframe")
print(df.describe())
df.to_csv("output.csv")

In [ ]:
df2=pd.read_csv("machine.csv")
print("Printing the first 10 rows of the dataframe usinf the head functions")
print(df2.head(10))
print("Printing the last 10 rows using the tails function ")
print(df2.tail(10))

In [ ]:
Data={
    "Professors":["Dr. Mira","Mr. Shan Faaiz","Dr Sami ur rehman","Dr. Chandra Gupta"],
    "Subjects":["Computer Architechture","Mathematics","Python","Phylosophy and Dharma"],
    "ID":[123,124,125,126],
    "Universities":["Ardon","Madarsa","Punjab University","Kurukshetra University"],
    "Experience":[4,6,7,7],
    "Salary":[40000,20000,50000,80000],
    "Address":["Berlin","Potsdam","Shimla","Istanbul"]
}
df=pd.DataFrame(Data)
print(df)
print("Printing a single column form the data frames")
print(df["Professors"])
print("printing a rows using filters")
print(df[df["Salary"]>50000])
print("printing thee multiple columns")
print(df[["Professors","Salary","Address"]])
print("Printing the multiple rows")
print(df[(df["Salary"]>30000)&(df["Experience"]>3)])