In [ ]:
import pandas as pd

In [ ]:
df=pd.read_csv("machine.csv")
print(df)
df.to_csv("output.csv")

In [ ]:
Data={
    "Professors":["Dr. Mira","Mr. Shan Faaiz","Dr Sami ur rehman","Dr. Chandra Gupta"],
    "Subjects":["Computer Architechture","Mathematics","Python","Phylosophy and Dharma"],
    "ID":[123,124,125,126],
    "Universities":["Ardon","Madarsa","Punjab University","Kurukshetra University"],
    "Experience":[4,6,7,7]
}
df=pd.DataFrame(Data)
print(df)
print("Printing the information about the dataframe i have just created: ",)
print(df.info())
print("Printing the descrription of the dataframe")
print(df.describe())
df.to_csv("output.csv")

In [ ]:
df2=pd.read_csv("machine.csv")
print("Printing the first 10 rows of the dataframe usinf the head functions")
print(df2.head(10))
print("Printing the last 10 rows using the tails function ")
print(df2.tail(10))

In [ ]:
Data={
    "Professors":["Dr. Mira","Mr. Shan Faaiz","Dr Sami ur rehman","Dr. Chandra Gupta"],
    "Subjects":["Computer Architechture","Mathematics","Python","Phylosophy and Dharma"],
    "ID":[123,124,125,126],
    "Universities":["Ardon","Madarsa","Punjab University","Kurukshetra University"],
    "Experience":[4,6,7,7],
    "Salary":[40000,20000,50000,80000],
    "Address":["Berlin","Potsdam","Shimla","Istanbul"]
}
df=pd.DataFrame(Data)
print(df)
print("Printing a single column form the data frames")
print(df["Professors"])
print("printing a rows using filters")
print(df[df["Salary"]>50000])
print("printing thee multiple columns")
print(df[["Professors","Salary","Address"]])
print("Printing the multiple rows")
print(df[(df["Salary"]>30000)&(df["Experience"])>3])

In [ ]:
df.insert(7,"Working days",[3,4,2,5])

In [19]:
print(df)
df["Bonus"]=df["Salary"]*0.2
print("+"*5,"New Data Frame ","+"*5)
print(df)
df.to_csv("output.csv",index="False")

          Professors                Subjects   ID            Universities  \
0           Dr. Mira  Computer Architechture  123                   Ardon
1     Mr. Shan Faaiz             Mathematics  124                 Madarsa
2  Dr Sami ur rehman                  Python  125       Punjab University
3  Dr. Chandra Gupta   Phylosophy and Dharma  126  Kurukshetra University

   Experience  Salary   Address  Working days    Bonus
0           4   40000    Berlin             3   8000.0
1           6   20000   Potsdam             4   4000.0
2           7   50000    Shimla             2  10000.0
3           7   80000  Istanbul             5  16000.0
+++++ New Data Frame  +++++
          Professors                Subjects   ID            Universities  \
0           Dr. Mira  Computer Architechture  123                   Ardon
1     Mr. Shan Faaiz             Mathematics  124                 Madarsa
2  Dr Sami ur rehman                  Python  125       Punjab University
3  Dr. Chandra Gupta   Phylosophy and Dharma  126  Kurukshetra University

   Experience  Salary   Address  Working days    Bonus
0           4   40000    Berlin             3   8000.0
1           6   20000   Potsdam             4   4000.0
2           7   50000    Shimla             2  10000.0
3           7   80000  Istanbul             5  16000.0