In [ ]:
import pandas as pd

In [ ]:
df=pd.read_csv("machine.csv")
print(df)
df.to_csv("output.csv")

In [ ]:
Data={
    "Professors":["Dr. Mira","Mr. Shan Faaiz","Dr Sami ur rehman","Dr. Chandra Gupta"],
    "Subjects":["Computer Architechture","Mathematics","Python","Phylosophy and Dharma"],
    "ID":[123,124,125,126],
    "Universities":["Ardon","Madarsa","Punjab University","Kurukshetra University"],
    "Experience":[4,6,7,7]
}
df=pd.DataFrame(Data)
print(df)
print("Printing the information about the dataframe i have just created: ",)
print(df.info())
print("Printing the descrription of the dataframe")
print(df.describe())

          Professors                Subjects   ID            Universities  \
0           Dr. Mira  Computer Architechture  123                   Ardon
1     Mr. Shan Faaiz             Mathematics  124                 Madarsa
2  Dr Sami ur rehman                  Python  125       Punjab University
3  Dr. Chandra Gupta   Phylosophy and Dharma  126  Kurukshetra University

   Experience
0           4
1           6
2           7
3           7
Printing the information about the dataframe i have just created:
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4 entries, 0 to 3
Data columns (total 5 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   Professors    4 non-null      object
 1   Subjects      4 non-null      object
 2   ID            4 non-null      int64
 3   Universities  4 non-null      object
 4   Experience    4 non-null      int64
dtypes: int64(2), object(3)
memory usage: 292.0+ bytes
None
Printign the descrription of the dataframe
               ID  Experience
count    4.000000    4.000000
mean   124.500000    6.000000
std      1.290994    1.414214
min    123.000000    4.000000
25%    123.750000    5.500000
50%    124.500000    6.500000
75%    125.250000    7.000000
max    126.000000    7.000000