In [ ]:
import pandas as pd

In [ ]:
df=pd.read_csv("machine.csv")
print(df)
df.to_csv("output.csv")

In [ ]:
Data={
    "Professors":["Dr. Mira","Mr. Shan Faaiz","Dr Sami ur rehman","Dr. Chandra Gupta"],
    "Subjects":["Computer Architechture","Mathematics","Python","Phylosophy and Dharma"],
    "ID":[123,124,125,126],
    "Universities":["Ardon","Madarsa","Punjab University","Kurukshetra University"],
    "Experience":[4,6,7,7]
}
df=pd.DataFrame(Data)
print(df)
print("Printing the information about the dataframe i have just created: ",)
print(df.info())
print("Printing the descrription of the dataframe")
print(df.describe())
df.to_csv("output.csv")

In [16]:
df2=pd.read_csv("machine.csv")
print("Printing the first 10 rows of the dataframe usinf the head functions")
print(df2.head(10))
print("Printing the last 10 rows using the tails function ")
print(df2.tail(10))

Printing the first 10 rows of the dataframe usinf the head functions
  Series_reference   Period  Data_value  Suppressed STATUS   UNITS  Magnitude  \
0      BDCQ.SEA1AA  2011.06       80078         NaN      F  Number          0
1      BDCQ.SEA1AA  2011.09       78324         NaN      F  Number          0
2      BDCQ.SEA1AA  2011.12       85850         NaN      F  Number          0
3      BDCQ.SEA1AA  2012.03       90743         NaN      F  Number          0
4      BDCQ.SEA1AA  2012.06       81780         NaN      F  Number          0
5      BDCQ.SEA1AA  2012.09       79261         NaN      F  Number          0
6      BDCQ.SEA1AA  2012.12       87793         NaN      F  Number          0
7      BDCQ.SEA1AA  2013.03       91571         NaN      F  Number          0
8      BDCQ.SEA1AA  2013.06       81687         NaN      F  Number          0
9      BDCQ.SEA1AA  2013.09       81471         NaN      F  Number          0

                          Subject                            Group  \
0  Business Data Collection - BDC  Industry by employment variable
1  Business Data Collection - BDC  Industry by employment variable
2  Business Data Collection - BDC  Industry by employment variable
3  Business Data Collection - BDC  Industry by employment variable
4  Business Data Collection - BDC  Industry by employment variable
5  Business Data Collection - BDC  Industry by employment variable
6  Business Data Collection - BDC  Industry by employment variable
7  Business Data Collection - BDC  Industry by employment variable
8  Business Data Collection - BDC  Industry by employment variable
9  Business Data Collection - BDC  Industry by employment variable

  Series_title_1                     Series_title_2 Series_title_3  \
0    Filled jobs  Agriculture, Forestry and Fishing         Actual
1    Filled jobs  Agriculture, Forestry and Fishing         Actual
2    Filled jobs  Agriculture, Forestry and Fishing         Actual
3    Filled jobs  Agriculture, Forestry and Fishing         Actual
4    Filled jobs  Agriculture, Forestry and Fishing         Actual
5    Filled jobs  Agriculture, Forestry and Fishing         Actual
6    Filled jobs  Agriculture, Forestry and Fishing         Actual
7    Filled jobs  Agriculture, Forestry and Fishing         Actual
8    Filled jobs  Agriculture, Forestry and Fishing         Actual
9    Filled jobs  Agriculture, Forestry and Fishing         Actual

   Series_title_4  Series_title_5
0             NaN             NaN
1             NaN             NaN
2             NaN             NaN
3             NaN             NaN
4             NaN             NaN
5             NaN             NaN
6             NaN             NaN
7             NaN             NaN
8             NaN             NaN
9             NaN             NaN
Printing the last 10 rows using the tails function
    Series_reference   Period  Data_value  Suppressed STATUS   UNITS  \
597      BDCQ.SEA1DS  2015.09       15962         NaN      R  Number
598      BDCQ.SEA1DS  2015.12       16143         NaN      R  Number
599      BDCQ.SEA1DS  2016.03       16372         NaN      R  Number
600      BDCQ.SEA1DS  2016.06       16416         NaN      R  Number
601      BDCQ.SEA1DS  2016.09       16533         NaN      R  Number
602      BDCQ.SEA1DS  2016.12       16245         NaN      R  Number
603      BDCQ.SEA1DS  2017.03       17207         NaN      R  Number
604      BDCQ.SEA1DS  2017.06       17243         NaN      R  Number
605      BDCQ.SEA1DS  2017.09       17678         NaN      R  Number
606      BDCQ.SEA1DS  2017.12       18145         NaN      R  Number

     Magnitude                         Subject  \
597          0  Business Data Collection - BDC
598          0  Business Data Collection - BDC
599          0  Business Data Collection - BDC
600          0  Business Data Collection - BDC
601          0  Business Data Collection - BDC
602          0  Business Data Collection - BDC
603          0  Business Data Collection - BDC
604          0  Business Data Collection - BDC
605          0  Business Data Collection - BDC
606          0  Business Data Collection - BDC

                               Group Series_title_1  \
597  Industry by employment variable    Filled jobs
598  Industry by employment variable    Filled jobs
599  Industry by employment variable    Filled jobs
600  Industry by employment variable    Filled jobs
601  Industry by employment variable    Filled jobs
602  Industry by employment variable    Filled jobs
603  Industry by employment variable    Filled jobs
604  Industry by employment variable    Filled jobs
605  Industry by employment variable    Filled jobs
606  Industry by employment variable    Filled jobs

                                 Series_title_2       Series_title_3  \
597  Electricity, Gas, Water and Waste Services  Seasonally adjusted
598  Electricity, Gas, Water and Waste Services  Seasonally adjusted
599  Electricity, Gas, Water and Waste Services  Seasonally adjusted
600  Electricity, Gas, Water and Waste Services  Seasonally adjusted
601  Electricity, Gas, Water and Waste Services  Seasonally adjusted
602  Electricity, Gas, Water and Waste Services  Seasonally adjusted
603  Electricity, Gas, Water and Waste Services  Seasonally adjusted
604  Electricity, Gas, Water and Waste Services  Seasonally adjusted
605  Electricity, Gas, Water and Waste Services  Seasonally adjusted
606  Electricity, Gas, Water and Waste Services  Seasonally adjusted

     Series_title_4  Series_title_5
597             NaN             NaN
598             NaN             NaN
599             NaN             NaN
600             NaN             NaN
601             NaN             NaN
602             NaN             NaN
603             NaN             NaN
604             NaN             NaN
605             NaN             NaN
606             NaN             NaN